.navbar-nav .nav-link {
    color: white; /* Cambia el color del texto de la barra de navegación */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: white; /* Asegúrate de que el texto activo y en hover siga siendo blanco */
}

.dropdown-menu {
    background-color: green; /* Cambia el color de fondo de la barra desplegable */
}

.dropdown-item {
    color: white; /* Cambia el color del texto en el menú desplegable */
}

.dropdown-item:hover {
    background-color: darkgreen; /* Color de fondo al pasar el ratón */
    color: white; /* Asegúrate de que el texto siga siendo blanco al pasar el ratón */
}
.container p{
    font-family:sans-serif;
  }